# contents

numpy
pandas
matplotlib
ipywidgets
ipympl

mpld3
bokeh
plotly
vispy
seaborn
pygal
networkx
mypy
autograd
k3d
graphviz
geopandas
keplergl
scikit-learn


# tooling

jupyterlab

# for vs-code
ipykernel

# not yet stable
/Users/tparment/git/jupytext/dist/jupytext-1.15.0.dev1-py3-none-any.whl
#git+https://github.com/parmentelat/jupytext.git@main

jupyterlab-myst
jupyterlab-courselevels
