# contents

numpy
pandas
matplotlib
ipywidgets
ipympl
mpld3
bokeh
plotly
vispy
seaborn
pygal
networkx
mypy
autograd
k3d
graphviz
geopandas
keplergl
scikit-learn


# tooling

jupyterlab
jupytext

# for vs-code
ipykernel

# not yet stable
#jupyterlab-jupytext
git+https://github.com/mwouts/jupyterlab-jupytext.git@jupyterlab4

# not yet stable
#jupyterlab-myst
git+https://github.com/executablebooks/jupyterlab-myst.git@agoose77/feat-jupyterlab-v4-next

jupyterlab-courselevels
