# contents

numpy
pandas
matplotlib
mpld3
bokeh
plotly
vispy
seaborn
pygal
networkx
autograd
k3d
graphviz
geopandas
keplergl
scikit-learn
folium
vega_datasets
dash
streamlit

# tooling
jupyter
jupytext
jupyterlab-myst
ipywidgets
ipympl
# for some unknown reason, without this
# I am getting version jupyterlab-widgets==1.1.5
# which breaks interactive plots
jupyterlab-widgets>=3.0
jupyterlab-courselevels

# for vs-code
ipykernel
